:root {
  --topbar-h: 50px;   /* UserTopBar 높이에 맞춰서 조정 */
}

.MenuBar {
  position: sticky;        /* ✅ 추가 */
  top: var(--topbar-h);    /* ✅ TopBar 바로 밑에 고정 */
  z-index: 20;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 버튼 4개 균등 배치 */
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.Tab {
  height: 44px;
  font-weight: 700;
  background: #fff;
  border: none;
  border-right: 2px solid #000;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

.Tab:last-child {
  border-right: none;
}

.Active {
  background: #D5A68B;
  color: #fff;
}
