.tablePanel {
  display: flex;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  flex-direction: column;
  width: 139px;
  height: 90px;
  border-radius: 10px;
  border-width: 1.5px;
  padding-top: 14px;
  padding-right: 6px;
  padding-bottom: 14px;
  padding-left: 6px;
  border: 1.5px solid #000000;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.tableName {
  display: flex;
}

.tablePrice {
  display: flex;
}

.active {
  background-color: #a57a0f;
  color: #ffffff;
}
