.container {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: grid;
  place-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlayClear {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2); /* 필요하면 transparent */
}

.modal {
  position: relative;
  width: min(92vw, 520px);
  max-height: min(86vh, 720px);
  background: #a57a0f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bare {
  background: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  overflow: visible; /* 내부 그림자 안 잘리게 */
  width: auto; /* 내용만큼 */
  max-height: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.title {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.iconClose {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: auto;
  height: auto;
  margin: 10px;
  margin-bottom: 0px;
  color: #ffffff;
  svg {
    display: block;
  }
}

.footer {
  display: flex;
  gap: 19px;
  margin: 10px 20px 20px 20px;
  justify-content: center;
}

.btn {
  display: flex;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 26px;
  border-radius: 10px;
  border: none;
  background-color: #edce7a;
  padding: 13px 30px 15px 30px;
}
