.toast {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 240px;
  max-width: min(80vw, 560px);
  margin: 0 auto;
  padding: 13px 30px;
  background: #fff;
  border: none;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
}

.icon {
  display: flex;
  align-items: center;
}

.info {
  color: #0b5ed7;
  border: 1px solid #dce9ff;
  background: #f7fbf7;
}
.success {
  color: #157f3b;
  border: 1px solid #d8f0e0;
  background: #f4fbf7;
}
.error {
  color: #ff3b2f;
  border: 1px solid #f5d2cf;
  background: #ffecea;
}
